<section id="social-pane" class="row text-center social">
    {{with .Site.Params.social}}
    <ul>
            {{ with .github }}
            <li><a href="https://github.com/{{.}}" aria-label="Github" target="_blank">GitHub</a></li>
            {{ end }}
            {{ with .linkedin }}
            <li><a href="https://linkedin.com/in/{{.}}" aria-label="LinkedIn" target="_blank">LinkedIn</a></li>
            {{ end }}
            {{ with .stackoverflow }}
            <li><a href="https://stackoverflow.com/users/{{.}}" aria-label="StackOverflow" target="_blank">StackOverflow</a></li>
            {{ end }}
    </ul>
    {{ end }}
</section>